doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='./assets/fonts/montserrat-regular.woff' as='font')
  link(rel='stylesheet', href='css/main.css')
  title ColorsType FSD2

body.body
  h1 Привет

  