@import '../../scss/colors.scss';

.text-field__input {
    width: 100%;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    padding: 13px 15px;
    font-size: 14px;
    color: $dark-shade-25;

    &:hover,
    &:focus,
    &:active
    {
        outline: none;
        border: 1px solid $dark-shade-50;
        color: $dark-shade-75;
    }
}

.text-field__input::placeholder {
    line-height: 18px;
    color: $dark-shade-25;
}