@import '../../scss/colors.scss';

.text-field__input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    padding: 12px 15px;
    font-size: 14px;

    &::placeholder {
        color: $dark-shade-25;
    }
  
    &:hover,
    &:focus,
    &:active {
        outline: none;
        border: 1px solid $dark-shade-50;
        color: $dark-shade-75;

        &::placeholder {
            color: $dark-shade-75;
        }
    }
}

.text-field__input--focused {
    border: 1px solid $dark-shade-50;
    color: $dark-shade-75;

    &::placeholder {
        color: $dark-shade-75;
    }
}


.text-field__input--subscripton {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-image: url("../../blocks/text-field/images/arrowSubscr.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 95.5% center;
}