head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='../fonts/montserrat-regular.woff' as='font')
  link(href='../fonts/material-icons-regular.woff' as='font')
  link(rel='stylesheet', href='../css/main.css')
  title Headers and Footers FSD2

  include ../../blocks/kit-logo/kit-logo
  include ../../blocks/header/header

- var data = {"title": "Меню", "items": [{"title": "О нас"}, {"title": "Услуги", "sublevel": true, "items": [{"title": "Проживание"}, {"title": "Трансфер"}] }, {"title": "Вакансии"}, {"title": "Новости"}, {"title": "Соглашения", "sublevel": true, "items": [{"title": "Офера"}, {"title": "Соглашение о конфиденциальности"}]} ]}
  
  body.headers-footers
    header.headers-footers__header
      .headers-footers__logo
        +kit-logo()

    main.headers-footers__main
      +header(data)