head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='../fonts/montserrat-regular.woff' as='font')
  link(href='../fonts/material-icons-regular.woff' as='font')
  link(rel='stylesheet', href='../css/main.css')
  title Headers and Footers FSD2

  include ../../blocks/kit-logo/kit-logo
  include ../../blocks/header/header
    include ../../blocks/footer/footer
  include ../../blocks/light-footer/light-footer


- var data = {"title": "Меню", "items": [{"title": "О нас"}, {"title": "Услуги", "sublevel": true, "items": [{"title": "Проживание"}, {"title": "Трансфер"}] }, {"title": "Вакансии"}, {"title": "Новости"}, {"title": "Соглашения", "sublevel": true, "items": [{"title": "Офера"}, {"title": "Соглашение о конфиденциальности"}]} ]}
  
  body.headers-footers
    header.headers-footers__header
      .headers-footers__logo
        +kit-logo()

    main.headers-footers__main
      .headers-footers__auth
        +header({data})

      .headers-footers__no-auth
        +header({data, isLogged: true, username: "Юлий Цезарь"})
    
      .headers-footers__big
       +footer({
        main: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
        navigation: [
          {
            title: "Навигация",
            links: [
              { url: "/mock-address", text: "О нас" },
              { url: "/mock-address", text: "Новости" },
              { url: "/mock-address", text: "Служба поддержки" },
              { url: "/mock-address", text: "Услуги" },
            ]
          },
          {
            title: "О нас",
            links: [
              { url: "/mock-address", text: "О сервисе" },
              { url: "/mock-address", text: "Наша команда" },
              { url: "/mock-address", text: "Вакансии" },
              { url: "/mock-address", text: "Инвесторы" },
            ]
          },
          {
            title: "Служба поддержки",
            links: [
              { url: "/mock-address", text: "Соглашения" },
              { url: "/mock-address", text: "Сообщества" },
              { url: "/mock-address", text: "Связь с нами" },
            ]
          },
        ],
        subscription: {
          title: "Подписка",
          text: "Получайте специальные предложения и новости сервиса",
        },
        copy: "Copyright © 2018 Toxin отель. Все права защищены.",
      })
        
      .headers-footers__small
        +light-footer({text: "Copyright © 2018 Toxin отель. Все права защищены."})