@import '../../scss/colors.scss';

.invoice {
  line-height: 23px;
  color: $dark-shade-75;

  &__row {
    display: grid;
    grid-template-columns: 263px 57px;
    align-content: center;
    margin-bottom: 10px;
    font-size: 13.5px;
    line-height: 18px;

    &-font-large {
      font-weight: bold;
      color: $dark-shade-100;
      margin-top: -5px;
      margin-bottom: 0;
    }
  }

  &__service {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__sum {
    justify-self: end;
  }

  &__line {
    position: relative;
    bottom: 20px;
    border-bottom: 1px dashed $dark-shade-25;
  }

  &__service {
    position: relative;
    padding-right: 24px;
    width: 80%;
    line-height: 24px;

    &-with-icon::after {
      position: absolute;
      content: 'i';
      top: 0;
      right: -6px;
      font-weight: bold;
      color: $dark-shade-25;
      border: 1px solid $dark-shade-25;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__row-total {
    display: grid;
    grid-template-columns: 60px 182px 77px;
    column-gap: 5px;
    font-size: 19px;
  }
}