head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='assets/fonts/montserrat-regular.woff' as='font')
  link(href='assets/fonts/material-icons-regular.woff' as='font')
  link(href='assets/fontsfa-brands-400.woff' as='font')
  link(rel='stylesheet', href='css/main.css')
  title Form Elements FSD2

  include ../../blocks/range-slider/range-slider.pug
  include ../../blocks/range-dates/range-dates.pug
  include ../../blocks/text-field/text-field.pug
  include ../../blocks/button/button.pug
  include ../../blocks/bullet-list/bullet-list.pug
  include ../../blocks/rich-checkbox-buttons/rich-checkbox-buttons.pug
  include ../../blocks/expandable-checkbox/expandable-checkbox.pug
  include ../../blocks/checkbox-button/checkbox-button.pug
  include ../../blocks/radio-button/radio-button.pug
  include ../../blocks/toggle-button/toggle-button.pug
  include ../../blocks/like-button/like-button.pug
  include ../../blocks/rating/rating.pug
  include ../../blocks/comment/comment
  include ../../blocks/pagination/pagination
  include ../../blocks/filter-date/filter-date
  include ../../blocks/dropdown-guests/dropdown-guests
  include ../../blocks/dropdown-room/dropdown-room
  include ../../blocks/conveniences/conveniences

  body.body
    main.main
      .container
        .range-slider
          +slider({
              title: "Range slider",
              type: "double",
              min: "500",
              max: "15000",
              from: "5000",
              to: "10000"
              })

        .main__range-dates
          +range-dates({
            inLabel: "Date dropdown",
            outLabel: "Date dropdown"
          })
        .main__text-field
          +text-field('', 'text', 'имя')
          +text-field('subscripton', 'email', 'email')
        .main__button
          +button('fill', 'click me', '#')
          +button('fill-hover', 'click me', '#')
        
          +button('border', 'click me', '#')
          +button('border-hover', 'click me', '#')

          +button('long', 'перейти к оплате', '#')
           
          +button('not-border-purple', 'click me', '#')
          +button('not-border-grey', 'click me', '#')

        .main__bullet-list
          +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])

        .rich-checkbox
          +rich-checkbox([
                {
                    name: 'opt',
                    header: 'Широкий коридор', 
                    content: 'Ширина коридоров в номере не менее 91 см.'
                },
                {
                    name: 'opt',
                    header: 'Помощник для инвалидов' , 
                    content: 'На 1 этаже вас встретит специалист  и проводит до номера.'
                },
            ])

        .checkbox-button
          +checkbox-button(
            [
                {
                    name: 'optionally',
                    value: 'smoke', 
                    content: 'Можно курить'
                },
                {
                    name: 'optionally',
                    value: 'pets', 
                    checked: 'true',
                    content: 'Можно с питомцами'
                },
                {
                    name: 'optionally',
                    value: 'guests', 
                    checked: 'true',
                    content: 'Можно пригласить гостей (до 10 человек)'
                }
                
            ]     
        )

        .radio-button
          +radio-button('gender', 'man', 'Мужчина')
          +radio-button('gender', 'woman', 'Женщина')

        .toggle
          +toggle-button('Получать спецпредложения')
        .like
          +like({
            likes: 2,
            liked: false
          })
        .main__rating
          +rating(4)
          
          +comment({
            image: "man.png",
            author: "Мурад Сарафанов",
            date: "5 дней назад",
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            like: {
              liked: true,
              likes: 12
            }
          })

          +pagination({ 
            text: "1 &ndash; 12 из 100+ вариантов аренды",
            items: [
              { link: "/mock-address", text: "1", active: true },
              { link: "/mock-address", text: "2" },
              { link: "/mock-address", text: "3" },
              { text: "..." },
              { link: "/mock-address", text: "15" },
            ]
          })


          +filter-date({ 
            title: "Filter date dropdown",
            placeholder: "19 авг - 23 авг" })

          +dropdown-guests(
            [
                {
                    name: 'взрослые',
                    value: '2', 
                },
                {
                    name: 'дети',
                    value: 2,
                },
                {
                    name: 'младенцы',
                    value: 0, 
                }
                
            ]     
        )
        
          +dropdown-room(
            [
                {
                    name: 'спальни',
                    value: '2', 
                },
                {
                    name: 'кровати',
                    value: 2,
                },
                {
                    name: 'ванные комнаты',
                    value: 0, 
                }
                
            ]     
        )

          +conveniences({
            title: "Комфорт",
            desc: "Шумопоглощающие стены",
            icon: "tag_faces"
          })
          +conveniences({
            title: "Удобство",
            desc: "Окно в каждой из спален",
            icon: "location_city"
          })