head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='../fonts/montserrat-regular.woff' as='font')
  link(href='../fonts/material-icons-regular.woff' as='font')
  link(rel='stylesheet', href='../css/main.css')
  title Form Elements FSD2

  include ../../blocks/kit-logo/kit-logo
  include ../../blocks/dropdown-field/dropdown-field
  include ../../blocks/range-slider/range-slider
  include ../../blocks/range-dates/range-dates
  include ../../blocks/text-field/text-field
  include ../../blocks/button/button
  include ../../blocks/bullet-list/bullet-list
  include ../../blocks/rich-checkbox-buttons/rich-checkbox-buttons
  include ../../blocks/expandable-checkbox/expandable-checkbox
  include ../../blocks/checkbox-button/checkbox-button
  include ../../blocks/radio-button/radio-button
  include ../../blocks/toggle-button/toggle-button
  include ../../blocks/like-button/like-button
  include ../../blocks/rating/rating
  include ../../blocks/comment/comment
  include ../../blocks/pagination/pagination
  include ../../blocks/filter-date/filter-date
  include ../../blocks/dropdown-guests/dropdown-guests
  include ../../blocks/dropdown-room/dropdown-room
  include ../../blocks/conveniences/conveniences

  include ../../blocks/calendar/calendar

  body.form-elements
    header.form-elements__header
      .form-elements__logo
        +kit-logo()

    main.form-elements__main
      .form-elements__container
        .form-elements__left-container

          .form-elements__item
            .form-elements__head
              .form-elements__title Text field
              .form-elements__desc Default
            +text-field({type: "email", placeholder: "Email"})

          .form-elements__item
            .form-elements__head
              .form-elements__title Text field
              .form-elements__desc Hover/Focus
            +text-field({style: "focused", type: "email", placeholder: "This is pretty awesome"})

          .form-elements__item.form-elements__dropdown
            .form-elements__head
              .form-elements__title Dropdown
            +dropdown-field({placeholder: "Сколько гостей"})

          .form-elements__item
            .form-elements__head
              .form-elements__title Masked text field
            +text-field({type: "data", placeholder: "ДД.ММ.ГГГГ"})

          .form-elements__item
            +range-dates({
              titleIn: "date dropdown",
              titleOut: "date dropdown"
            })

          .form-elements__item
            .form-elements__head
              .form-elements__title Filter date dropdown
            +filter-date()
          
          .form-elements__item
            .form-elements__head
              .form-elements__title Subscription text field 
            +text-field({style: "subscripton", type: "email", placeholder: "Email"})
          
          .form-elements__item
            .form-elements__head
              .form-elements__title Dropdown
              .form-elements__desc Default
            +dropdown-room(
              [
                  {
                      name: 'спальни',
                      value: '2', 
                  },
                  {
                      name: 'кровати',
                      value: 2,
                  },
                  {
                      name: 'ванные комнаты',
                      value: 0, 
                  }
                  
              ]     
            )

          .form-elements__item
            .form-elements__head
              .form-elements__title Dropdown
              .form-elements__desc Expanded
            +dropdown-room(
              [
                  {
                      name: 'спальни',
                      value: '2', 
                  },
                  {
                      name: 'кровати',
                      value: 2,
                  },
                  {
                      name: 'ванные комнаты',
                      value: 0, 
                  }
                  
              ]     
            )
          
          .form-elements__item
            +expandable-checkbox({
              title: 'expondable',
              option: [
                {
                    name: 'optionally',
                    value: 'smoke', 
                    content: 'Можно курить'
                },
                {
                    name: 'optionally',
                    value: 'pets', 
                    checked: 'true',
                    content: 'Можно с питомцами'
                },
                {
                    name: 'optionally',
                    value: 'guests', 
                    checked: 'true',
                    content: 'Можно пригласить гостей (до 10 человек)'
                }
                
              ]     
            })

          .form-elements__item
            +conveniences({
            image: "comfort.svg",
            title: "Комфорт",
            desc: "Шумопоглощающие стены",
            })
            +conveniences({
              image: "conveniences.svg",
              title: "Удобство",
              desc: "Окно в каждой из спален",
            })
        
        .form-elements__mid-container
          .form-elements__item
            +checkbox-button(
              [
                {
                    name: 'optionally',
                    value: 'smoke', 
                    content: 'Можно курить'
                },
                {
                    name: 'optionally',
                    value: 'pets', 
                    checked: 'true',
                    content: 'Можно с питомцами'
                },
                {
                    name: 'optionally',
                    value: 'guests', 
                    checked: 'true',
                    content: 'Можно пригласить гостей (до 10 человек)'
                }
                
              ]     
            )
          
          .form-elements__item
            +radio-button('gender', 'man', 'Мужчина')
            +radio-button('gender', 'woman', 'Женщина')

          .form-elements__item
            +toggle-button('Получать спецпредложения')

          .form-elements__item
            +toggle-button('Получать спецпредложения')

          .form-elements__item
            +like({
              likes: 2,
              liked: false
            })

            +like({
              likes: 12,
              liked: true
            })

          .form-elements__item
            +rating(4)

          .form-elements__item
            .form-elements__head
              .form-elements__title Dropdown
            +dropdown-guests([
                {
                    name: 'взрослые',
                    value: '2', 
                },
                {
                    name: 'дети',
                    value: 2,
                },
                {
                    name: 'младенцы',
                    value: 0, 
                }
                
              ])
          
          .form-elements__item
            +rich-checkbox([
                {
                    name: 'opt',
                    header: 'Широкий коридор', 
                    content: 'Ширина коридоров в номере не менее 91 см.'
                },
                {
                    name: 'opt',
                    header: 'Помощник для инвалидов' , 
                    content: 'На 1 этаже вас встретит специалист  и проводит до номера.'
                },
            ])

        .form-elements__right-container

          .form-elements__item
            +slider({
              title: "Range slider",
              type: "double",
              min: "500",
              max: "15000",
              from: "5000",
              to: "10000"
            })

          .form-elements__item.form-elements__buttons
            +button('fill', 'click me', '#')
            +button('fill-hover', 'click me', '#')
          
            +button('border', 'click me', '#')
            +button('border-hover', 'click me', '#')
          
          .form-elements__item.form-elements__buttons-no-border
            +button('not-border-purple', 'click me', '#')
            +button('not-border-grey', 'click me', '#')

          .form-elements__item.form-elements__buttons-long
            +button('long', 'перейти к оплате', '#')

          .form-elements__item
            +pagination({ 
              text: "1 &ndash; 12 из 100+ вариантов аренды",
              items: [
                { link: "/mock-address", text: "1", active: true },
                { link: "/mock-address", text: "2" },
                { link: "/mock-address", text: "3" },
                { text: "..." },
                { link: "/mock-address", text: "15" },
              ]
            })

          .form-elements__item
            .form-elements__head
              .form-elements__title Dropdown
            +dropdown-guests([
                {
                    name: 'взрослые',
                    value: '2', 
                },
                {
                    name: 'дети',
                    value: 2,
                },
                {
                    name: 'младенцы',
                    value: 0, 
                }
                
              ])

          .form-elements__item
            +bullet-list([
              'Нельзя с питомцами',
              'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00, а выезд до 12:00'
            ])
        
        .form-elements__bot-container
          +comment({
            image: "man.png",
            author: "Мурад Сарафанов",
            date: "5 дней назад",
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            like: {
              liked: true,
              likes: 12
            }
          })
    footer.form-elements__footer
      +calendar()         