head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='assets/fonts/montserrat-regular.woff' as='font')
  title ColorsType FSD2

  include ../../blocks/range-slider/range-slider.pug

body.body
  h1 формы  
  +slider