include ../range-dates/range-dates
include ../dropdown-guests/dropdown-guests
include ../button/button

mixin apartments-card()
  .apartments-card
    h2.apartments-card__title Найдём номера под ваши пожелания
    form.apartments-card__form(action="/mock-address", method="get")
      .apartments-card__body
        .apartments-card__range-data
          .apartments-card__data-in
            +range-dates({
              title: "Прибытие"
            })

          .apartments-card__data-out
            +range-dates({
              title: "Выезд"
            })

        .apartments-card__guests
            h3.apartments-card__guests-title Гости
            +dropdown-guests({
                placeholder: "Сколько гостей",
                option: [
                  {
                      name: 'взрослые',
                      value: 2, 
                  },
                  {
                      name: 'дети',
                      value: 2,
                  },
                  {
                      name: 'младенцы',
                      value: 0, 
                  }
                ]
              })
          
        .apartments-card__btn
            +button('long', 'подобрать номер', '#')