@import "../../scss/colors.scss";

.dropdown {
    margin-bottom: 20px;
};

.dropdown__triger {
    display: block;
    border: 1px solid $dark-shade-50;
    border-radius: 2px;
}

.dropdown__content {
    padding: 20px;
    border: 1px solid $dark-shade-50;
    border-top: none;
    display: none;
}

.dropdown--active .dropdown__content {
    display: block;
}