mixin dropdown-guests(options)
    input.dropdown__guests-input(type="text", placeholder="Сколько гостей")
    .dropdown__guests-content
        ul.dropdown__guests-list
            each item in options
                li.dropdown__guests-item
                    p.dropdown__guests-text=item.name
                    .dropdown__guests-control
                        button.dropdown__guests-btn.dropdown__guests-btn--minus(data-direction='minus' aria-label='минус') &#8722;
                        input.dropdown__guests-counter(type=number value=item.value)
                        button.dropdown__guests-btn.dropdown__guests-btn--plus(data-direction='plus' aria-label='плюс') &#43;
        .dropdown__bar                
            button.dropdown__guests-btn-clear очистить
            button.dropdown__guests-btn-apply применить

