include ../button/button
include ../text-field/text-field

mixin authorization-card()
  .authorization-card
    h1.register-card__title Войти
    form.register-card__form(action="/mock-address" method="post")

      .authorization-card__service
        .authorization-card__item
          +text-field({type: "email", placeholder: "Email"})
        .authorization-card__item
          +text-field({type: "password", placeholder: "Пароль"})


      .authorization-card__btn
        +button('long', 'войти', '#')


      