include ../button/button
include ../text-field/text-field

mixin authorization-card()
  .authorization-card
    h2.authorization-card__title Войти
    form.authorization-card__form(action="/mock-address" method="post")
      .authorization-card__first-name
        +text-field({type: "email", placeholder: "Email"})
      .authorization-card__subname
        +text-field({type: "password", placeholder: "Пароль"})
      .authorization-card__btn
        +button('long', 'войти', '#')

    .authorization-card__register
      p.authorization-card__register-text Нет аккаунта на Toxin?
      +button('border', 'создать', '#')


      