include ../calendar/calendar
include ../dropdown-field/dropdown-field

mixin range-dates({ inLabel, outLabel })
  .range-dates
    +calendar()
    .range-dates__content
      +dropdown-field({ title: inLabel, style: "range-dates", placeholder: "ДД.ММ.ГГГГ" })
        .range-dates__input
      +dropdown-field({ title: outLabel, style: "range-dates", placeholder: "19.08.2019" })
        .range-dates__input
      