mixin range-dates({title})
 
  .range-dates
    label.range-dates__title(for="range-dates__start-date")= title
      input.datepicker-here.range-dates__input(type="text", placeholder="ДД.ММ.ГГГГ", data-clear-Button="true" , data-apply-Button="true")