@import '../../scss/colors.scss';

.range-dates {

  &__content {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 20px;
  }

  &__input {
    margin-top: 5px;
    

    &::placeholder {
      letter-spacing: 0.9;
    }
  }
}