@import '../../scss/colors.scss';

.range-dates {
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 6%;
    width: 100%;
    justify-content: center;
  
  &__title {
    font-family: "montserrat", "OpenSans", sans-serif;
    font-weight: 700;
    color: $dark-shade-100;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: left;
  }

  &__start-date {
    margin-right: 20px;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    margin-top: 5px;
    padding: 12px 5px 12px 12px;
    font-size: 14px;
    background: url('./../../blocks/filter-date/images/expand_more.svg') no-repeat 88% 55%;

    &::placeholder {
      color: $dark-shade-25;
      letter-spacing: 0.6;
    }
  
    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: 1px solid $dark-shade-50;
      color: $dark-shade-75;

      &::placeholder {
        color: $dark-shade-75;
        letter-spacing: 0.6;
      }
    }
  }
}
