@import '../../scss/colors.scss';

.gallery {
    &__image {
      position: relative;
    }
  
    &__arrow {
      position: relative;
      cursor: pointer;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }
    
  
    &__left-arrow {
      left: 0;
    }
  
    &__right-arrow {
      right: 0;
    }
  
    &__point-container {
      display: flex;
      width: 42px;
      justify-content: space-between;
      position: absolute;
      right: 15px;
      bottom: 17px;
      cursor: pointer;
    }
  
    &__point {
      width: 7.5px;
      height: 7.5px;
      border-radius: 50%;
      border: 1px solid $white;
  
      &_filled {
        background-color: $white;
      }
    }
  }

  .gallery__left-arrow::after {
    position: absolute;
    content: 'expand_more';
    display: block;
    color: $white;
    font-size: 24px;
    font-family: "material-icons";
    width: 44px;
    height: 44px;
    top: -90px;
    left: -10px;
    transform: rotate(90deg);
    
  }

  .gallery__right-arrow::after {
      position: absolute;
      content: 'expand_more';
      display: block;
      color: $white;
      font-size: 24px;
      font-family: "material-icons";
      width: 44px;
      height: 44px;
      top: -109px;
      right: -11px;
      transform: rotate(-90deg);
  }