mixin gallery(image)
  .gallery
    .gallery__image
      img(src=require(`blocks/gallery/images/${image}`), alt="apartment photo")
      .gallery__arrow
        .gallery__left-arrow
        .gallery__right-arrow
      .gallery__point-container
        button.gallery__point.gallery__point-active
        button.gallery__point
        button.gallery__point
        button.gallery__point