@import "../../scss/colors.scss";

.dropdown-field  {

    &__wrapper {
      position: relative;
    }

    &__input {
      width: 100%;
      position: relative;
      border: 1px solid $dark-shade-25;
      border-radius: 4px;
      margin-top: 5px;
      padding: 12px 15px;
      font-size: 14px;
      background-image: url('./../../blocks/dropdown-field/images/expand_more.svg');
      background-repeat: no-repeat;
      background-size: 12px 12px;
      background-position: 95% 49%;
    

      &::placeholder {
          color: $dark-shade-25;
      }
  
      &:hover,
      &:focus,
      &:active {
          outline: none;
          border: 1px solid $dark-shade-50;
          color: $dark-shade-75;

          &::placeholder {
              color: $dark-shade-75;
          }
      }
      &--range-dates {
        background-position: 90% 49%;
      }
    }

    &__title {
      font-family: "montserrat", "OpenSans", sans-serif;
        font-weight: 700;
        color: $dark-shade-100;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

};

.dropdown-field--active .dropdown-field__content {
    display: block;
}

.dropdown-field--range-data .dropdown-field__input {
  background-position: 90% 49%;
}