mixin dropdown-field({title, style, placeholder, value})
  .dropdown-field
    if title
      .dropdown-field__title= title
    label.dropdown-field__wrapper
      input(class=`dropdown-field__input dropdown-field__input--${style}` placeholder=placeholder value=value)