@import '../../scss/variables.scss';

.image-gallery {

    &__wrap {
        display: grid;
        grid-template-columns: 68% 32%;
        grid-template-rows: auto auto;
        max-width: 1440px;

        @media (max-width: $tablet-width-only) {
            grid-template-columns: 63% 32%;
        }

        @media (max-width: $tablet-width) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }
    }

    &__photo-main {
        z-index: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: -1;

        @media (max-width: $tablet-width) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 100%;
        }
    }

    &__photo-second {
        z-index: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        @media (max-width: $tablet-width) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 100%;
        }
    }

    &__photo-third {
        z-index: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        @media (max-width: $tablet-width) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            width: 100%;
        }
    }
}