mixin image-gallery
    .image-gallery-wrap
        img.image-gallery__photo-main(src=require(`blocks/image-gallery/images/image-main.jpg`) alt="фотография номера №1")
        img.image-gallery__photo-second(src=require(`blocks/image-gallery/images/image-second.jpg`) alt="фотография номера №2")
        img.image-gallery__photo-third(src=require(`blocks/image-gallery/images/image-third.jpg`) alt="фотография номера №3")