
extends ../pages-layout/pages-layout
include ../../blocks/register-card/register-card


block title
    title Registration

block content
    main.registration
        .registration__container
            +register-card()


