@import '../../scss/variables.scss';

.registration {
    background: url("../../pages/registration/images/reg-bg.jpg") no-repeat center;
    background-size: cover;

    &__container {
        display: flex;
        justify-content: center;
        padding-top: 16px;
        padding-left: 123px;
        padding-bottom: 20px;

        @media (max-width: $tablet-width) {
            padding-left: 0;
        }
    }
}

.registration__container > .register-card {
    width: 319px;
    margin-left: -100px;

    @media (max-width: $tablet-width) {
        margin-left: 0;
    }
}