include ../gallery/gallery
include ../apartment-info/apartment-info 
include ../price/price 
include ../rating/rating

mixin images-card({image, arrows, position, lux, price, rating, comments})
  .images-card
    +gallery(image, arrows)
    .images-card__body
      .images-card__apartment-info
        +apartment-info({number: position, lux: lux})
        +price(price)
      .images-card__rating
        +rating(rating)
        .images-card__comments
          p.images-card__text.images-card__text-accented= comments
          p.images-card__text &nbsp;Отзывов