include ../gallery/gallery
include ../apartment-info/apartment-info 
include ../price/price 
include ../../blocks/simple-rating/simple-rating

mixin images-card({image, position, lux, price, rate, comments})
  .images-card
    +gallery(image)
    .images-card__body
      .images-card__apartment-info
        +apartment-info({number: position, lux: lux})
        +price(price)
      .images-card__rating
        +simple-rating(rate)
        .images-card__comments
          p.images-card__text.images-card__text-accented= comments
          p.images-card__text &nbsp;Отзывов