include ../gallery/gallery
include ../apartment-info/apartment-info 
include ../price/price 
include ../rating/rating

mixin images-card({image, arrows, position, lux, price, rating, comments})
  .images-card
    +gallery(image, arrows)
    .images-card__body
      .images-card__row.images-card__row_underlined
        +apartment-info({number: position, lux: lux})
        +price(price)
      .images-card__row
        +rating(rating)
        .image-card__comments
          .images-card__text.images-card__text_accented= comments
          .images-card__text &nbsp;Отзывов