@import '../../scss/colors.scss';

.apartment-info {
    display: flex;
  
    &__number {
      display: inline-block;
      color: $dark-shade-100;
      font-size: 14px;
      padding-right: 4px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
  
      &-medium {
        font-size: 18px;
      }
  
      &-large {
        font-size: 24px;
      }
    }
      
    &__lux-text {
      font-size: 12px;
      color: $purple;
      padding-right: 4px;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: -0.1px;
    } 
  }