mixin chart({number, label, option})
    .chart
        figure.chart__table
            .chart__content
                svg(width="145" height="156" viewBox="0 0 42 42" class="donut")
                    linearGradient(id="linear-gradient-first")
                        stop(offset="70%" stop-color="#8BA4F9")
                        stop(offset="30%" stop-color="#BC9CFF")

                    linearGradient(id="linear-gradient-second")
                        stop(offset="30%" stop-color="#66D2EA")
                        stop(offset="70%" stop-color="#6FCF97")
                    
                    linearGradient(id="linear-gradient-three")
                        stop(offset="70%" stop-color="#FFBA9C")
                        stop(offset="30%" stop-color="#FFE39C")

                    circle.chart__hole(cx="21" cy="21" r="15.91549430918954" fill="#fff")
                    circle.chart__ring(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#fff" stroke-width="1.5")

                    circle.chart__segment(cx="21" cy="21" r="16.91549430918954" fill="transparent" stroke="url(#linear-gradient-first)" stroke-width="1.5" stroke-dasharray="25 60" stroke-dashoffset="5")  
                    circle.chart__segment(cx="21" cy="21" r="16.91549430918954" fill="transparent" stroke="url(#linear-gradient-second)" stroke-width="1.5" stroke-dasharray="131 109" stroke-dashoffset="105")
                    circle.chart__segment(cx="21" cy="21" r="16.91549430918954" fill="transparent" stroke="url(#linear-gradient-three)" stroke-width="1.5" stroke-dasharray="52 51" stroke-dashoffset="76")
                    
                    g.chart__content-wrapper
                        text.chart__number(x="34%" y="50%")= number
                        text.chart__label(x="30%" y="62%")= label
        .chart__desc
            ul.chart__desc-list
                each item in option
                    li.chart-desc__item
                        p(class=`chart__desc-text chart__desc-text--${item.color}`)= item.text
                
