include ../checkbox-button/checkbox-button

mixin expandable-checkbox({title, option})
    .expandable-checkbox
        .expandable-checkbox__triger
            p.expandable-checkbox__title= title
        .expandable-checkbox__content
            +checkbox-button(option)

            