@import '../../scss/colors.scss';
@import '../../scss/variables.scss';

.footer {
    background-color: $white;
    font-size: 14px;
    
    &__wrapper {
        display: grid;
        grid-template-columns: 23% 49% 24%;
        column-gap: 3%;
        padding: 100px 10% 72px 9.5%;
        margin: 0 auto;

        @media (max-width: $tablet-width) {
            display: block;
            margin: 0 auto;
        }
    }

    &__left-side {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    &__center {
        grid-column-start: 2;
        grid-column-end: 3; 
    }

    &__right-side {
        grid-column-start: 3;
        grid-column-end: 4;

        @media (max-width: $tablet-width) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__main {

        @media (max-width: $tablet-width) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 22px;
        }
    }

    &__text {
        color: $dark-shade-75;
        line-height: 24px;
        margin-top: 13px;
    }

    &__nav-container {
        display: grid;
        grid-template-columns: 28% 28% 33%;
        gap: 7.5%;

        @media (max-width: $tablet-width) {
            justify-items: center;
            margin-bottom: 22px;

        }
    }

    &__subtitle {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: $dark-shade-100;
        margin-top: 4px;
    }

    &__paragraph {
        margin-top: 13px;
    }

    &__link {
        text-decoration: none;
        display: block;
        font-size: 14px;
        color: $dark-shade-50;
        line-height: 17px;
        padding-top: 10px;
        padding-bottom: 11px;
    }

    &__subscription-text {
        color: $dark-shade-75;
        font-size: 14px;
        line-height: 24px;
        margin-top: 18px;
        margin-bottom: 22px;
    }

    &__subscription-form {
        width: 96%;
    }

    &__copy {
        border-top: 1px solid $dark-shade-10;
        padding: 13px 7.9% 10px 9.3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copy-text {
        font-size: 14px;
        color: $dark-shade-75;
    }

    &__socials {
        margin-right: 16px;
    }

}