mixin conveniences({image, title, desc})
  .conveniences
    .conveniences__img-container
      img.conveniences__img(src=require(`blocks/conveniences/images/${image}`) alt="conveniences icon")
    .conveniences__info
      p.conveniences__title= title
      p.conveniences__description= desc