mixin conveniences({noBorder, title, desc, icon})
  - let classes = ["conveniences"]
  if noBorder
    - classes.push("conveniences_without-border")
  div(class=classes)
    
    i.conveniences__icon.material-icons= icon
    
    .conveniences__info
      .conveniences__title= title
      div.conveniences__description= desc