include ../../blocks/header/header
include ../../blocks/footer/footer

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='../fonts/montserrat-regular.woff' as='font')
        link(href='../fonts/material-icons-regular.woff' as='font')
        link(rel='stylesheet', href='../css/main.css')

        - var data = {"title": "Меню", "items": [{"title": "О нас"}, {"title": "Услуги", "sublevel": true, "items": [{"title": "Проживание"}, {"title": "Трансфер"}] }, {"title": "Вакансии"}, {"title": "Новости"}, {"title": "Соглашения", "sublevel": true, "items": [{"title": "Офера"}, {"title": "Соглашение о конфиденциальности"}]} ]}
    
        block title
            title Pages layout

    body.pages-layout
        block header
            header.pages-layout__header
                +header({data})
                
        block content

        block footer
            footer.pages-layout__footer
                +footer({
                main: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                navigation: [
                {
                    title: "Навигация",
                    links: [
                    { url: "/mock-address", text: "О нас" },
                    { url: "/mock-address", text: "Новости" },
                    { url: "/mock-address", text: "Служба поддержки" },
                    { url: "/mock-address", text: "Услуги" },
                    ]
                },
                {
                    title: "О нас",
                    links: [
                    { url: "/mock-address", text: "О сервисе" },
                    { url: "/mock-address", text: "Наша команда" },
                    { url: "/mock-address", text: "Вакансии" },
                    { url: "/mock-address", text: "Инвесторы" },
                    ]
                },
                {
                    title: "Служба поддержки",
                    links: [
                    { url: "/mock-address", text: "Соглашения" },
                    { url: "/mock-address", text: "Сообщества" },
                    { url: "/mock-address", text: "Связь с нами" },
                    ]
                },
                ],
                subscription: {
                title: "Подписка",
                text: "Получайте специальные предложения и новости сервиса",
                },
                copy: "Copyright © 2018 Toxin отель. Все права защищены.",
            })