@import "../../scss/colors.scss";
// @import "./nouislider.min.css";

.noUi-base {
    width: 266px;
    height: 6px;
    border: 1px solid $dark-shade-25;
    border-radius: 3px;
    background-color: $white;
}

.noUi-connects {
    background: $light-gradient;
}

.noUi-handle {
    width: 12px;
    height: 12px;
    border: 1px solid $light-gradient;
    border-radius: 50%;
    background-color: $light-gradient;
}
