@import '../../scss/colors.scss';

.main-page {
    background: url("../../pages/main-page/images/image-bg.png") no-repeat center;
    background-size: cover;

    &__container {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 140px;
        padding-top: 66px;
    }

    &__text {
        color: $dark-shade-75;
        font-size: 14px;
        line-height: 24px;
        width: 24%;
        text-align: right;
        align-self: flex-end;
        margin-top: 330px;
        padding-right: 33px;
        padding-bottom: 0;

    }
}

.main-page__form > .apartments-card {
    width: 319px;
    padding-bottom: 30px;
}