@import '../../scss/colors.scss';
@import '../../scss/variables.scss';


.main-page {
    background: url("../../pages/main-page/images/image-bg.png") no-repeat center;
    background-size: cover;

    &__container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 70px;
    }

    &__apartments-card {
        grid-column-start: 2;
        grid-column-end: 3;
        padding-left: 9.6%;

        @media (max-width: $tablet-width) {
            padding-left: 0;
            margin: 0 auto;
        }
    }

    &__text {
        color: $dark-shade-75;
        font-size: 14px;
        line-height: 24px;
        width: 24%;
        text-align: right;
        align-self: flex-end;
        margin-top: 319px;
        padding-right: 61px;
        margin-bottom: 20px;

        @media (max-width: $tablet-width) {
            width: 33%;
        }
    }
}

.main-page__apartments-card > .apartments-card {
    width: 319px;
    padding-bottom: 30px;
}