
extends ../pages-layout/pages-layout
include ../../blocks/authorization-card/authorization-card


block title
    title Sing In

block content
    main.sing-in
        .sing-in__container
            +authorization-card()