
extends ../pages-layout/pages-layout
include ../../blocks/authorization-card/authorization-card


block title
    title Sing In

block content
    section.sing-in__content
        +authorization-card()