@import '../../scss/variables.scss';

.sing-in {
    background: url("../../pages/sing-in/images/reg-bg.jpg") no-repeat center;
    background-size: cover;

    &__container {
        display: flex;
        justify-content: center;
        padding-top: 175px;
        padding-left: 101px;
        padding-bottom: 171px;

        @media (max-width: $tablet-width) {
            padding-left: 0;
        }
    
    }
}

.sing-in__container > .authorization-card {
    width: 319px;
    margin-left: -100px;

    @media (max-width: $tablet-width) {
        margin-left: 0;
    }
}