@import '../../scss/colors.scss';

.rich-checkbox {

    &__list {
        padding: 0;
    }

    &__item {
        list-style: none;
        color: $dark-shade-50;
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 4px 4px;
    }

    &__title {
        display: grid;
        position: relative;
        grid-template-columns: 20px auto;
        grid-column-gap: 10px;
        cursor: pointer;
        font-weight: 700;
        color: $dark-shade-75;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;

        &::before {
            content: '';
            display: block;
            grid-column-start: 1;
            grid-column-end: 2;
            width: 19px;
            height: 19px;
            border: 1px solid $dark-shade-25;
            border-radius: 4px;

            &:focus,
            &:active {
                outline: none;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            top: 5px;
            left: 6px;
            background: url(../../blocks/rich-checkbox-buttons/checked.svg) no-repeat center;
            opacity: 0;
        }
    }

    &__content {
        width: 77%;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: 3px;
    }
}

.rich-checkbox__input:checked + .rich-checkbox__title::after {
    opacity: 1;
}
  
.rich-checkbox__input:checked:disabled + .rich-checkbox__title::after,
.rich-checkbox__input:disabled + .rich-checkbox__title::before {
    opacity: 0.1;
}
  
.rich-checkbox__input:checked + .rich-checkbox__title::before,
.rich-checkbox__input:hover + .rich-checkbox__title::before,
.rich-checkbox__input:focus + .rich-checkbox__title::before {
    border: 1px solid $purple;
}
  
.rich-checkbox__input:active + .rich-checkbox__title::before {
    opacity: 0.3;
}
