@import "../../scss/colors.scss";

.filter-date__input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  margin-top: 5px;
  padding: 12px 15px;
  font-size: 14px;
  background: url('./../../blocks/filter-date/images/expand_more.svg') no-repeat 94% 49%;
  background-size: 12px 12px;
    
  &::placeholder {
    color: $dark-shade-25;
  }
  
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 1px solid $dark-shade-50;
    color: $dark-shade-75;

    &::placeholder {
      color: $dark-shade-75;
    }
  }
}
