mixin filter-date(data)
     input.datepicker-here.filter-date__input(type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true" data-range="true", data-multiple-dates-separator=" - ")
