include ../dropdown-field/dropdown-field
include ../calendar/calendar

mixin filter-date({title, placeholder})
    .filter-date
        +dropdown-field({title, placeholder})
        .filter-date__calendar
            +calendar()