include ../site-logo/site-logo
include ../menu/menu
include ../button/button


mixin header({data, isLogged, username})
  header.header
    .header__logo
      +site-logo()
    .header__menu
      a.header__menu-burger
      .header__menu-wrapper
        +menu(data)
        if isLogged
          .header__account
            a.header__account-icon(href='#')
            p.header__account-name= username
        else
          .header__enter-panel
            a.header__enter-panel-icon(href='#')   
            .header__enter-panel-wrapper
              +button('border', 'войти', '#')
              +button('fill', 'зарегистрироваться', '#')