include ../site-logo/site-logo
include ../menu/menu
include ../button/button


mixin header({data, isLogged, username})
  header.header
    .header__logo
      +site-logo()
    .header__menu
      +menu(data)
      if isLogged
        .header__account= username
      else
        .header__enter-panel
          +button('border', 'войти', '#')
          +button('fill', 'зарегистрироваться', '#')