@import '../../scss/colors.scss';

.bullet-list__item {
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
    list-style: none;
}

.bullet-list__text {
    position: relative;
    width: 80%;
    padding-left: 30px;

    &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $dark-shade-25;
    }
}